nav > ul {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.account-menu {
    color: $brand;
    font-weight: bold;
}

nav > ul > li {
    margin: 0px 5px;
}

.body-container {
    width: 90%;
    margin: auto;
    min-height:600px;
}

