h3 {
  font: inherit;
}

.daily-log-item, .color-submit {
  font-size: 12px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  //border: 1px solid black;
}

input[type="submit"]:hover {
  border: 2px solid;
}

.remove-from-log {
  color: #E0E1E3;
}

.color-selector, .daily-color-log {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //border: 1px solid black;
}

.daily-log-container {
  width: 80%;
  margin: auto;
  //border: 1px solid black;
}

.color-picker, .daily-log-items  {
  display: flex;
  flex-direction: row;
  //border: 1px solid black;
  flex-wrap: wrap;
}

.celebrate {
  color: cyan;
  font-size: 30px;
  animation-duration: 2s;
  animation-name: bounceIn;
  //border: 1px solid black;
}

.daily-log-container > div {
  margin-top: 35px;
}