nav > ul {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

nav > ul > li {
    margin: 0px 5px;
}

.body-container {
    width: 80%;
    margin: auto;
    border: 1px solid;
    min-height:600px;
}